<!-- ===== Header ===== -->
<header class="hdr">
  <div class="hdr-l">
    <a class="logo" href="index.html" aria-label="XploreVietnam home">
      <img class="logo-img" src="img/logo.png" alt="XploreVietnam" width="615" height="180">
    </a>
    <div class="nav-item">
      <button type="button" aria-haspopup="true"><span>Services</span><svg><use href="#i-chev"/></svg></button>
      <div class="mega">
        <div class="mega-col"><h5>By service</h5><a href="services.html#visas">Visas &amp; Immigration</a><a href="services.html#trc">Temporary Residence Card</a><a href="services.html#business">Business Setup</a><a href="services.html#relocation">Relocation</a></div>
        <div class="mega-col"><h5>By client</h5><a href="teachers.html">Teachers</a><a href="digital-nomads.html">Digital Nomads</a><a href="families.html">Families</a><a href="retirees.html">Retirees</a><a href="entrepreneurs.html">Entrepreneurs</a></div>
      </div>
    </div>
    <div class="nav-item">
      <button type="button" aria-haspopup="true"><span>Resources</span><svg><use href="#i-chev"/></svg></button>
      <div class="mega">
        <div class="mega-col"><h5>Learn</h5><a href="guide.html">Vietnam Guide</a><a href="blog.html">Blog</a><a href="videos.html">Videos</a><a href="quiz.html">City Quiz</a></div>
      </div>
    </div>
    <div class="nav-item">
      <button type="button" aria-haspopup="true"><span>About Us</span><svg><use href="#i-chev"/></svg></button>
      <div class="mega">
        <div class="mega-col"><h5>Company</h5><a href="our-story.html">Our Story</a><a href="contact.html">Contact Us</a><a href="work-with-us.html#referral">Referral Program</a><a href="work-with-us.html#partners">Partnerships</a></div>
      </div>
    </div>
  </div>
  <div class="hdr-r">
    <div class="hdr-icons">
      <a href="https://navigator.xplorevietnam.org/auth" aria-label="Log in to Navigator" title="Log in to Navigator">{{i:account}}</a>
      <a href="cart.html" aria-label="Cart" class="cart-link">{{i:cart}}<span class="cart-n" hidden></span></a>
    </div>
    <div class="hdr-cta">
      <label class="search"><span class="visually-hidden" hidden>Search</span>
        {{i:search}}
        <input id="q" type="search" placeholder="Search">
      </label>
      <a class="btn-orange" href="get-started.html">Get Started</a>
    </div>
  </div>
  <button class="burger" id="burger" type="button" aria-label="Open menu" aria-expanded="false">
    <svg viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2"><path d="M3 6h18M3 12h18M3 18h18"/></svg>
  </button>
</header>
<nav class="mnav" id="mnav" hidden>
  <details><summary>Services <span>+</span></summary><div class="sublinks"><a href="services.html#visas">Visas &amp; Immigration</a><a href="services.html#trc">Temporary Residence Card</a><a href="services.html#business">Business Setup</a><a href="services.html#relocation">Relocation</a><a href="teachers.html">Teachers</a><a href="digital-nomads.html">Digital Nomads</a><a href="families.html">Families</a><a href="retirees.html">Retirees</a><a href="entrepreneurs.html">Entrepreneurs</a></div></details>
  <details><summary>Resources <span>+</span></summary><div class="sublinks"><a href="guide.html">Vietnam Guide</a><a href="blog.html">Blog</a><a href="videos.html">Videos</a><a href="quiz.html">City Quiz</a></div></details>
  <details><summary>About Us <span>+</span></summary><div class="sublinks"><a href="our-story.html">Our Story</a><a href="contact.html">Contact Us</a><a href="work-with-us.html#referral">Referral Program</a><a href="work-with-us.html#partners">Partnerships</a></div></details>
  <a class="btn-orange" href="get-started.html">Get Started</a>
</nav>
